<div style="width:80%; margin: 0 auto;">
  <h2>Meus Arquivos</h2>
  <br>
  <div class="form-group">
    <%= link_to "Balanço Patrimonial", @user.patrimonial_balance.url %>
  </div>

  <div class="form-group">
    <%= link_to "DRE", @user.dre_file.url %>
  </div>

  <div class="form-group">
    <%= link_to "Contrato Social", @user.social_contract.url %>
  </div>

  <div class="form-group">
    <%= link_to "Alvará de Funcionamento", @user.business_licence.url %>
  </div>

  <div class="form-group">
    <%= link_to "CNPJ", @user.cnpj_file.url %>
  </div>
</div>
