<%= form_for @user, url: '', html: { method: :post } do |f| %>
  <div class="" style="width:60%; margin:0 auto;">

    <div class="form-group">
      <%= f.label :invoices, 'XMLs das notas fiscais' %>
      <%= f.file_field :invoices, multiple: true, name: "attachment[files][]" %>
    </div>

    <!-- <input type="hidden" name="id" value="<%=@user.id%>"> -->
    <%= f.submit "Enviar", class:'btn btn-default' %>
  </div>
<% end %>
