<h2 style="text-align: center">Criando usuário</h2>

<%= form_for @user, url: 'create', html: { method: :post } do |f| %>
  <div style="width: 50%; margin: 0 auto;">

    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="text" name="user[email]" value="" placeholder="" class="form-control">
    </div>

    <div class="form-group">
      <label for="company">Empresa</label>
      <input type="text" name="user[company]" value="" class="form-control "placeholder="">
    </div>

    <div class="form-group">
      <label for="cnpj">CNPJ</label>
      <input type="text" name="user[cnpj]" value="" class="form-control "placeholder="">
    </div>

    <div class="form-group">
      <label for="cpf">CPF</label>
      <input type="text" name="user[cpf]" value="" class="form-control "placeholder="">
    </div>

    <div class="form-group">
      <label for="telephone">Telefone</label>
      <input type="text" name="user[telephone]" value="" class="form-control "placeholder="">
    </div>

    <div class="form-group">
      <label for="opening_status">Status de Abertura</label>
      <select class="form-control" name="user[opening_status]" id="opening_status_select">
        <option value="open">Empresa já aberta</option>
        <option value="validation">Validação</option>
        <option value="waiting_documents">Aguardando Documentos</option>
        <option value="comercial">Junta Comercial</option>
      </select>
    </div>

    <div class="form-group" style="display: none;" id="protocol_field">
      <label for="telephone">Protocolo</label>
      <input type="text" name="user[protocol]" value="" class="form-control "placeholder="">
    </div>


    <div class="form-group">
      <label for="patrimonial_balance">Balanço Patrimonial</label>
      <%= f.file_field :patrimonial_balance%>
      <!-- <input type="file" name="attachment[files][]"> -->
    </div>

    <div class="form-group">
      <label for="dre_file">DRE</label>
      <%= f.file_field :dre_file%>
    </div>

    <div class="form-group">
      <label for="social_contract">Contrato Social</label>
      <%= f.file_field :social_contract%>
    </div>

    <div class="form-group">
      <label for="business_licence">Alvará de Funcionamento</label>
      <%= f.file_field :business_licence%>
    </div>

    <div class="form-group">
      <label for="cnpj_file">CNPJ</label>
      <%= f.file_field :cnpj_file%>
    </div>

    <div class="form-group">
      <label for="type">Anexo</label>
      <select class="form-control" name="user[type]">
        <option value="1">Anexo 1</option>
        <option value="2">Anexo 2</option>
        <option value="3">Anexo 3</option>
        <option value="4">Anexo 4</option>
        <option value="5">Anexo 5</option>
      </select>
    </div>


    <div class="form-group">
      <label for="earnings_range">Faixa de Valor</label>
      <select class="form-control" name="user[earnings_range]">
        <option value="1">Até 180.000,00</option>
        <option value="2">De 180.000,01 a 360.000,00</option>
        <option value="3">De 360.000,01 a 720.000,00</option>
        <option value="4">De 720.000,01 a 1.800.000,00</option>
        <option value="5">De 1.800.000,01 a 3.600.000,00</option>
        <option value="6">De 3.600.000,01 a 4.800.000,00</option>
      </select>
    </div>

    <input type="hidden" name="user[password]" value="" placeholder="telephone">
    <input type="hidden" name="user[password_confirmation]" value="" placeholder="telephone">
    <input type="hidden" name="user[role]" value="client">
    <%= f.submit "Enviar", class:'btn btn-primary'%>
  </div>
<% end %>
<!-- <form action="create" method="POST">
  <div style="width: 50%; margin: 0 auto;">

    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="text" name="user[email]" value="" placeholder="" class="form-control">
    </div>

    <div class="form-group">
      <label for="company">Empresa</label>
      <input type="text" name="user[company]" value="" class="form-control "placeholder="">
    </div>

    <div class="form-group">
      <label for="cnpj">CNPJ</label>
      <input type="text" name="user[cnpj]" value="" class="form-control "placeholder="">
    </div>

    <div class="form-group">
      <label for="cpf">CPF</label>
      <input type="text" name="user[cpf]" value="" class="form-control "placeholder="">
    </div>

    <div class="form-group">
      <label for="telephone">Telefone</label>
      <input type="text" name="user[telephone]" value="" class="form-control "placeholder="">
    </div>

    <div class="form-group">
      <label for="patrimonial_balance">Balanço Patrimonial</label>
      <input type="file" name="attachment[files][]">
    </div>

    <div class="form-group">
      <label for="dre_file">DRE</label>
      <input type="file" name="dre_file">
    </div>

    <div class="form-group">
      <label for="social_contract">Contrato Social</label>
      <input type="file" name="social_contract">
    </div>

    <div class="form-group">
      <label for="business_licence">Alvará de Funcionamento</label>
      <input type="file" name="business_licence">
    </div>

    <div class="form-group">
      <label for="cnpj_file">CNPJ</label>
      <input type="file" name="cnpj_file">
    </div>

    <div class="form-group">
      <label for="type">Anexo</label>
      <select class="form-control" name="user[type]">
        <option value="1">Anexo 1</option>
        <option value="2">Anexo 2</option>
        <option value="3">Anexo 3</option>
        <option value="4">Anexo 4</option>
        <option value="5">Anexo 5</option>
      </select>
    </div>


    <div class="form-group">
      <label for="earnings_range">Faixa de Valor</label>
      <select class="form-control" name="user[earnings_range]">
        <option value="1">Até 180.000,00</option>
        <option value="2">De 180.000,01 a 360.000,00</option>
        <option value="3">De 360.000,01 a 720.000,00</option>
        <option value="4">De 720.000,01 a 1.800.000,00</option>
        <option value="5">De 1.800.000,01 a 3.600.000,00</option>
        <option value="6">De 3.600.000,01 a 4.800.000,00</option>
      </select>
    </div>

    <input type="hidden" name="user[password]" value="" placeholder="telephone">
    <input type="hidden" name="user[password_confirmation]" value="" placeholder="telephone">
    <button type="submit" name="button" class="btn btn-primary"> Enviar </button>
  </div>
</form> -->
