<%= form_for @accounting_info, url: 'accounting_info', html: { method: :post } do |f| %>
  <div class="" style="width:60%; margin:0 auto;">
    <!-- <div class="form-group">
    </div> -->

    <div class="form-group">
      <%= f.label :invoices, 'XMLs das notas fiscais' %>
      <%= f.file_field :invoices, multiple: true, name: "attachment[files][]" %>
    </div>

    <div class="form-group">
      <%= f.label :canceled_invoices, 'Notas canceladas' %>
      <%= f.text_field :canceled_invoices %>
    </div>

    <div class="form-group">
      <%= f.label :paycheck_changes, 'Mudanças na Folha de Pagamento' %>
      <%= f.text_area :paycheck_changes %>
    </div>

    <input type="hidden" name="user_id" value="<%=@user.id%>">
    <%= f.submit "Enviar", class:'btn btn-default' %>
  </div>
<% end %>
