<div style="width: 80%; margin: 0 auto;">
  <h1>Clientes</h1>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Empresa</th>
        <th></th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.company %></td>
        <% if user.has_month_invoices? @date %>
          <td> <a href="/invoices/get_invoices/<%=user.id%>" class="btn btn-info">Apuração</a></td>
        <% else %>
          <td>Não emitiu notas.</td>
        <% end %>
        <td>  <td> <a href="/users/<%=user.id%>/my_files">Documentos</a> </td></td>
        <td> <a href="/users/<%=user.id%>/invoices_index">Histórico</a> </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
