<div style="width: 80%; margin: 0 auto;">
  <h2>Ainda não enviaram.</h2>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Empresa</th>
        <th></th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      <% @not_sent.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.company %></td>
        <td></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <a href="remind_not_sent_users" class="btn btn-info">Enviar solicitação de envio de notas fiscais</a>

</div>
<br>

<div style="width: 80%; margin: 0 auto;">
  <h2>Apuração</h2>
  <br>

  <h3>A fazer:</h3>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Empresa</th>
        <th></th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      <% @sent_not_done.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.company %></td>
        <% if user.invoice_from_month_is_empty?(@date) != true %>
          <td> <%= link_to "Download XMLs", get_invoices_path(id: user.id), method: :post %> </td>
        <% else %>
          <td>Informado</td>
        <% end %>
        <td> <a href="/documents/das/<%=user.id%>"> Anexar DAS </a> </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <h3>Feitas:</h3>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Empresa</th>
        <th></th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      <% @sent_done.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.company %></td>
        <td> OK </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
