<div class="home-page-container">
  <% if @message != nil %>
    <div id="alertdiv" class="alert alert-danger" role="alert" onclick="$('#alertdiv').fadeOut();">
      <p> <%=@message%> </p>
    </div>
  <% end %>

  <a href="users/<%=@id%>/accounting_info" class="info-box">
    <div class="info-box-container">
      <h1 class="info-box-title" style="text-decoration: none;">Rotinas Contábeis</h1>
    </div>
  </a>
  <a href="users/<%=@id%>/my_files" class="info-box">
    <div class="info-box-container">
      <h1 class="info-box-title" style="text-decoration: none;">Meus Documentos</h1>
    </div>
  </a>
  <div class="ib-secondary">
    <div class="ib-vertical-div">
      <div class="ib-vertical-div">
          <h4>Projeção de gastos:</h4>
      </div>
      <div class="ib-vertical-div">
        <h4 style="color: #930000;">R$ <%=@total_out.round(2)%></h4>
      </div>
    </div>
    <div class="ib-vertical-div">
      <div class="ib-vertical-div">
        <h4>Projeção de recebimentos:</h4>
      </div>
      <div class="ib-vertical-div">
        <h4 style="color: green">R$ <%=@total_in.round(2)%></h4>
        <p> Extimativa de Impostos: <%=@total_in * @tax_extimative%></p>
      </div>
    </div>
  </div>
  <a href="https://usuario.gerencianet.com.br/segunda-via" class="info-box" target="_blank">
    <div class="info-box-container">
    <h1 class="info-box-title" style="text-decoration: none;">Gerar 2ª Via de Boleto</h1>
    </div>
  </a>
</div>
