  <!-- <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="login-page-container">
    <div class="login-box">
      <div class="lb-container">
        <h1  class="lb-title"> Entrar </h1>

          <div class="form-group">
            <label for="email"></label>
            <%= f.email_field :email, autofocus: true, class:'form-control', placeholder:'E-mail' %>
          </div>

          <div class="form-group">
            <label for="password"></label>
            <%= f.password_field :password, class:'form-control', placeholder:'Senha' %>
          </div>

          <%= f.submit "Entrar", class:'btn btn-primary'%>
          <br>
        <%= link_to "Esqueceu sua senha?", new_password_path(resource_name), class:'lb-text' %><br/>
      </div>
    </div>
  </div>
<% end %> -->

 <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="login-page">
    <div class="container">
      <div class="login-component">
        <div class="logo">
          <%= image_tag("LogoFluiuCiano.png", class:'resize-image',:alt => "logo") %>
        </div>
        <div class="lc-field-set">
          <label for="email" class="lc-label">E-mail</label>
          <%= f.email_field :email, id:'email', autofocus: true, class:'lc-text-field'%>
        </div>
        <div class="lc-field-set">
          <label for="password" class="lc-label">Senha</label>
          <%= f.password_field :password, id: 'password', class:'lc-text-field'%>
        </div>
        <div class="lc-field-set" style="padding-bottom: 4em;">
          <!-- <button type="button" name="button" onclick="$.notify('Hello World');">oi</button> -->
            <%= f.submit "Entrar", class:'lc-button'%>
        </div>
      </div>
    </div>
  </div>
<%end%>
