<!DOCTYPE html>
<html>
  <head>
    <title>Fluiu Contabilidade</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  </head>

  <body onload="<%flash.each do |key, value|%> $.notify('<%=value%>', <%=key%>); <%end%>">
    <% if current_user %>
      <nav class="navbar-component">
        <div class="app-nav-container">
          <div class="app-nav-content">
            <a href="/">  <%= image_tag("LogoFluiuCiano.png", style:'height: 3em',:alt => "logo") %> </a>
          </div>
          <div class="app-nav-content">
            <a style="text-decoration: none;"href="/users/index">Usuários</a>
          </div>
        </div>
        <!-- <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/" style="color: white;">Fluiu Contabilidade</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/users/index" style="color: white;">Clientes</a></li>
            <li><a href="/signout" style="color: white;">Sair</a></li>
          </ul>
        </div> -->
      </nav>
    <%end%>
    <%= yield %>
  </body>

</html>
