<!DOCTYPE html>
<html>
  <head>
    <title>Fluiu Contabilidade</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--Start of Zendesk Chat Script-->
    <script type="text/javascript">
      window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
      d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
      _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
      $.src="https://v2.zopim.com/?5bqiInqfUM1XpajZxDFoAqYm59O3E76l";z.t=+new Date;$.
      type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
    </script>
  </head>

  <body onload="<%flash.each do |key, value|%> $.notify('<%=value%>', '<%=key%>'); <%end%>">
    <% if current_user %>
      <nav class="navbar-component">
        <div class="app-nav-container">
          <div class="app-nav-content">
            <a href="/">  <%= image_tag("LogoFluiuCiano.png", style:'height: 3em',:alt => "logo") %> </a>
          </div>
          <div class="app-nav-content">
            <a style="text-decoration: none;"href="/users/index">Usuários</a>
          </div>
          <div class="app-nav-content">
            <a style="text-decoration: none;"href="/appointments">Calendário</a>
          </div>
        </div>
      </nav>
    <%end%>
    <%= yield %>
  </body>

</html>
